
// when large texts, placeholder dont trigger focus to input
// code below fix this
md-input-container label {
	pointer-events: auto !important;
	cursor: text !important;
}

.md-input-focused label{
	cursor: auto !important;
	pointer-events: none !important;
}


md-tabs span {
	color: inherit !important;
}

// overwite tab ink-bar
md-tabs md-ink-bar {
	color: rgb(33,150,243) !important;
	background: rgb(33,150,243) !important;
}

// disable text select on tabs
md-tabs .md-tab {
	user-select: none;
}

// button height and position aspect
md-input-container + .md-button {
	padding: 5px 0;
}
