.results {
	margin-top: 25px;
	a {
		text-decoration: none;
	}

	p {
		margin-top: 0;
		margin-bottom: .5em;
	}

	.md-list-item-text {
		line-height: 2em;
		padding: 0 10px;
		box-sizing: border-box;
		transition: all ease .25s;

		a {
			display: inline-block;
			color: rgba(0,0,0,0.54);
		}

		strong {
			// font-weight: normal;
			color: rgb(33,150,243);
		}

		&.ng-enter {
			opacity: 0;
			transform: translate(0, -1em);
		}

		&.ng-enter-stagger {
			transition-delay: 0.020s;
			transition-duration: 0s;
		}

		&.ng-enter-active {
			// transition-delay: 0.02s;
			opacity: 1;
			transform: translate(0, 0);
			// transition-duration: 0s;
		}

		&.ng-leave {
			opacity: 0;
			transition-delay: 0;
		}
	}
}

// disable md-tab change transition
// [role="tabpanel"] {
//   transition: none;
// }
