md-content.layout-padding.doc-content(layout='column')
	form(layout='row', layout-align='space-around center', ng-submit='formSearchGithub.$valid && search()', novalidate, name='formSearchGithub')
		md-input-container.md-display-2(flex='')
			label Github Search
			input.md-title(ng-model='q', autocomplete='off')
		md-button.md-flat.md-primary(ng-disabled='!q') Search

	md-tabs.results(md-dynamic-height, md-border-bottom, ng-show='results')
		md-tab.md-primary(label='Repositories')
			md-list(layout='column'): .md-list-item(ng-repeat='result in results')
				a.md-primary(ng-href='{{result.owner.html_url}}', target='_blank') {{result.owner.login}}/<strong>{{result.name}}</strong>
		md-tab.md-primary(label='Users')
